@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                    Header Area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
}
.side-img{
    position: absolute;
    height: 90%;
    width: 90px;
    top: 38px;
    left: 23px;
}
.side-img img{
    max-width: 90%;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px 20px 200px;
    align-items: center;
}
.logo{
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: #181818;
}
.logo span{
    color: #FD6E0A;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu li{
    margin-right: 50px;
}
.menu a{
    color: #474747;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 27px;
}
.btn-praimary{
    background: #FD6E0A;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 27px;
    cursor: pointer;
}
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                    banner Area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.banner{
    display: flex;
    align-items: center;
    margin: 60px 50px 0 200px;
}

.text-titel h3{
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
}
.text-titel h4{
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    font-style: normal;
    color: #181818;
}
.text-titel p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
    margin: 20px 0;
    font-style: normal;
}
.btn-1{
    font-weight: 700;
    background: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 17px 18px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.btn-2{
    border: 1px solid #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    padding: 18px 24px;
    border-radius: 3px;
    color: #FD6E0A;
    margin-left: 30px;
}
/* .images img{
    width: 800px;
    height: auto;
} */
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                    Main Area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
main{
    max-width: 70%;
    margin: 0 auto;
}
.about{
    background: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    padding: 130px 157px;
    text-align: center;
}
.section-title{
    color: #181818;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 30px;
}
.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    color: #757575;
    font-size: 20px;
}
.info-description{
    color: #474747;
    font-weight: 700;
}
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                    what i do Area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.what-i-do{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 130px;
    padding: 130px 157px;
    text-align: center;
}