@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                    Header Area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
}
.side-img{
    position: absolute;
    height: 90%;
    width: 90px;
    top: 38px;
    left: 23px;
}
.side-img img{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px 20px 200px;
    align-items: center;
}
.logo{
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: #181818;
}
.logo span{
    color: #FD6E0A;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu li{
    margin-right: 50px;
}
.menu a{
    color: #474747;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 27px;
}
.btn-praimary{
    background: #FD6E0A;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 27px;
}
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                    banner Area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.banner{
    display: flex;
    align-items: center;
    margin: 0 50px 0 200px;
}

.text-titel h3{
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
}
.text-titel h4{
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    font-style: normal;
    color: #181818;
}
.text-titel p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
    margin: 20px 0;
    font-style: normal;
}
.btn-1{
    font-weight: 700;
    background: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 17px 18px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.btn-2{
    border: 1px solid #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    padding: 18px 24px;
    border-radius: 3px;
    color: #FD6E0A;
    margin-left: 30px;
}